
.inc{
 
  height: 6vh;
  width: 7vh;
  margin-left:79vh;
  margin-top: 6vh;
}
.dec{
  height: 6vh;
  width: 7vh;
  margin-left: 2vh;
}
.reset{
  height: 6vh;
  width: 11vh;
  margin-left: 3vh;
}

.count{
 text-align: center;
 font-size: 6vh;
 margin-top: 6vh;
 color:brown;


}
.appname{
  text-align: center;
  color: rgb(41, 41, 109);
}

button:hover{
  background-color:rgb(66, 66, 144);
  color: aliceblue;
}
